#progressbar {
  margin-top: 20px;
}

.progress-label {
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}

.ui-dialog-titlebar-close {
  display: none;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  background: grey;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
  list-style: none;
}


a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

a:hover {
  background: blue;
}


/*
.nav-collapse {
    z-index: 1;
    font-family: "proxima-nova-extra-condensed", sans-serif;
    background-color: grey;

}*/
/*.nav-collapse,
.nav-collapse * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.nav-collapse,
.nav-collapse ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    float: left
}

.nav-collapse li {
    float: left;
    width: 100%;
    display: block
}

.nav-collapse a {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 112.5%;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    width: 100%;
    background: #f43c12;
    border-bottom: 1px solid white;
    padding: .5em 1em;
    float: left
}
.nav-collapse a:focus {
    background: #ca2d09;
    outline: none
}*/
